#save-input-cbc{
    padding: 5px;
    right: 0;
    width: 100px;
    background-color: rgb(47, 158, 255);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 3px;
    color: aliceblue;
}
#save-input-cbc:hover{
    background-color: rgb(0, 114, 214);
}
#save-input-urinalysis{
    padding: 5px;
    right: 0;
    width: 100px;
    background-color: rgb(47, 158, 255);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 3px;
    color: aliceblue;
}
#save-input-urinalysis:hover{
    background-color: rgb(0, 114, 214);
}